*, ::before, ::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Barlow', sans-serif; 
    --ff-secondary: 'Fraunces', serif; 
    
    /* Primary colours */
    --clr-soft-red: hsl(7, 99%, 70%);
    --clr-yellow: hsl(51, 100%, 49%);
    --clr-light-yellow: hsl(51, 100%, 98%);
    --clr-graphic-text: hsl(167, 40%, 24%);
    --clr-photography-text: hsl(198, 62%, 26%);
    --clr-footer-text: hsl(168, 34%, 41%);
    --clr-footer: hsl(168, 34%, 65%);
    
    /* Neutral colours */
    --clr-desaturated-blue: hsl(212, 27%, 19%);
    --clr-very-dark-gray-blue: hsl(213, 9%, 39%);
    --clr-dark-gray-blue: hsl(232, 10%, 55%);
    --clr-gray-blue: hsl(210, 4%, 67%);
    --clr-neutral: hsl(0, 0%, 100%);

    --f-size-body: 18px;
}

h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: var(--ff-secondary);
    color: var(--clr-neutral);
}
h1,h2,h3,h4{
    text-align: center;
}
p{
    line-height: 1.6rem;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.section-img{
    height:100%;
    width:100%;
    object-fit: cover;
}
body{
    font-size: var(--f-size-body);
    font-family: var(--ff-primary); 
    background-color: var(--clr-light-yellow);
}
header{
    background: url('/images/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width:100%;
}
/*Navbar*/
.nav-container{
    /* background-color: #32FFF8; */
    padding: 1em;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links{
    display: none;
}

.hero{
    padding: 2rem;
    height: 100%;
}
.hero-arrow{
    display: block;
    margin: 4rem auto 0 auto;
}
@media and screen(min-width: 600px){
    .nav-links{
        display:block;
    }
}
.audience-section p, .brand-section p{
    color: var(--clr-dark-gray-blue);
}
.graphic-section h3, .graphic-section p{
    color: var(--clr-graphic-text);
}
.photography-section h3, .photography-section p{
    color: var(--clr-photography-text);
}
.graphic-section, .photography-section{
    position:relative;
    height: 600px;
}

.fruit-info{
    position:absolute;
    z-index: 1;
    bottom:30px;
}

.section-info{
    padding: 2em;
    text-align: center;
}

.section-info h2, .section-info h3{
    font-family: var(--ff-secondary);
    margin-bottom: 1rem;
}
.section-info h3{
    text-transform: capitalize;
}
.section-btn{
    display: block;
    font-size: 16px;
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    margin-top: 1.5rem;
}

/* Testimonials */
.testimonials-section{
    padding: 2em 0;
}
.testimonial img{
    border-radius: 50%;
    width: 80px;
}
.testimonial{
    display:grid;
    place-items:center;
    text-align: center;
    row-gap: 15px;
    padding: 2em;
}
.testimonials-section .section-title{
    color: var(--clr-gray-blue);
    font-weight: 900;
    font-family: var(--ff-secondary);
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial h4{
    font-family: var(--ff-secondary);
    font-weight: 900;
}
.testimonial p{
    color: var(--clr-very-dark-gray-blue);
}
.testimonial span{
    font-size: 16px;
    color: var(--clr-gray-blue);
}

/* Image Gallery */
.image-gallery{
    display:grid;
    grid-template-columns:1fr 1fr;
}

footer{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 2fr;
    row-gap: 1em;
    padding: 2em 1em;
    background-color: var(--clr-footer);
    color: var(--clr-footer-text);
}
.footer-logo{
    fill: var(--clr-footer);
}
.footer-links, .media-links{
    display: flex;
    justify-content: center;
    gap: 1.25em;
    width: 100%;
}
.media-links{
    align-self:end;
}

/* Attribution */
.attribution{
    background-color: var(--clr-footer);
    text-align: center;
    font-size: 14px;
    padding: 1rem;

}

